[Desktop Entry]
Name=Pidgin
Comment=Start conversations with Pidgin buddies
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
Icon=Pidgin
X-KDE-Library=krunner_pidgin
X-KDE-PluginInfo-Name=krunner_pidgin
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Author=Israel Rios
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-AdvertiseSingleRunnerQueryMode=true
